<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Kuvia</title>
    <meta name="description" content="Image gallery">
    <meta property="og:title" content="Kuvia">
    <meta property="og:site_name" content="Kuvia">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Image gallery">
    <style>{{{galleryCss}}}</style>
    {{#each cssUrls}}
    <link ref="stylesheet" type="text/css" href="{{{this}}}"/>
    {{/each}}
    {{#if listJs}}
    <script type="application/javascript">{{{listJs}}}</script>
    {{/if}}
    {{#each jsUrls}}
    <script type="application/javascript" src="{{{this}}}"></script>
    {{/each}}
    <script type="application/javascript">{{{galleryJs}}}</script>
</head>
<body>
  <h1 id="noimageswarning">No images found</h1>
  <div id="topbar">
    <ul>
      <li><a href="#" class="toggle_sidebar" title="Toggle sidebar (space)">&#9776;</a></li>
      <li><a href="#" class="next_image" title="Next (J)">&#9660;</a></li>
      <li><a href="#" class="previous_image" title="Previous (K)">&#9650;</a></li>
      <li><a href="#" id="zoomindicator" class="toggle_zoom" title="Zoom (Z)"></a></li>
      <li><span id="imginfo"></span></li>
    </ul>
  </div>
  <div id="sidebar">
    <ul id="linksarea"></ul>
    <a href="http://gitlab.com/lepovirta/kuvia">Kuvia @ Gitlab</a>
  </div>
  <div id="imgarea" class="zoom-min"></div>
</body>
</html>
 